// Color Scheme
@mixin color_scheme($scheme) {
  @if $scheme == primary {
    color: $color-primary;
    background: $color-secondary;
    a { color: $color-primary; }
  }
  @else if $scheme == inverse {
    color: $color-secondary;
    background: $color-primary;
    a { color: $color-secondary; }
  }
}

// Media Queries
@mixin browser_width($breakpoint) {
  @if $breakpoint == xs {
    @media #{$screen-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$screen-sm} { @content; }
  }
  @else if $breakpoint == md {
    @media #{$screen-md}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$screen-lg}  { @content; }
  }
  @else if $breakpoint == xl {
    @media #{$screen-xl}  { @content; }
  }
}
