/*--------------------------------------------------------
Base Styles & <main> element
--------------------------------------------------------*/

html {
  box-sizing: border-box;
  height: 100%;

  // Establish PostCSS-mqpacker media query build order
  @include browser_width(xs) {width: auto;}
  @include browser_width(sm) {width: auto;}
  @include browser_width(md) {width: auto;}
  @include browser_width(lg) {width: auto;}
  @include browser_width(xl) {width: auto;}
}

body {
  height: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

main {
  padding: 0 1rem;

  @include browser_width(xs) {
    padding: 0 1.5rem;
  }
  @include browser_width(md) {
    padding: 0 2rem;
  }
  @include browser_width(lg) {
    padding: 0 0.5rem;
  }
}
