/*-----------------------------------------------------
Header
-----------------------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 0.75rem 0 1.25rem;

  @include browser_width(xs) {
    height: 5rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
  @include browser_width(md) {
    height: auto;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1.5rem;
  }
  @include browser_width(lg) {
    margin-bottom: 2rem;
    padding: 0 2rem 0 3rem;
  }
  @include browser_width(xl) {
    margin-bottom: 4rem;
  }

  // logo link container
  a.logo {
    width: 50%;
    @include browser_width(md) {
      width: 30%;
    }
  }
  // logo image
  a.logo img {
    vertical-align: middle;
    width: 100%;
    padding: 10px 0 15px;
  }
}
